

body {
    background-color: lightblue;
}

/* Use 
display grid
grid-template-columns
gird-column-start
gap
*/

/*
Use page_1_style as an example for what to do here. You need to add properties
*/

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    gap: 3px; /*Play with this value*/

}

.item {
    padding: 10px;
    background-color: orange;
    border: 1px solid black;

}
